{%extends 'base.html'%}
{%block content%}
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Articolo</label>
      <input  name="cdar" readonly class="form-control" id="exampleFormControlInput1" value="{{articolo}}">
    </div>
    <label for="exampleFormControlInput1">Descrizione</label>
    <input   name="dsar" class="form-control" id="exampleFormControlInput1" value="{{descrizione}}">
  </div>
  <button name="btnUpd" value="btnUpd" class="btn btn-primary" type="submit">Update</button>
    <div class="form-group">
        <img src="/static/img/{{articolo}}.jpg" class="image">
    </div>
     
     
    
  </form>
  {%endblock%}