{%extends 'base.html'%}


{%block content%}
{%include 'nav.html'%}

<h1>Magazzino Giacenze</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">S</th>
        <th scope="col">Prodotto</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Um</th>
        <th scope="col">Giacenza</th>
      </tr>
    </thead>
    
      <tbody id="myTable">
        <!-- For loop  -->
       {%for i in range(0, len) %} 
   
       <tr> 
            {%for r in range(0, lenr) %} 
                {%if r==0%}
                <td> <input value={{rows[i][0]}} id="checkBox" name="checkBox" type="checkbox" class="checkid"></td> 
                {%endif%}
                <td class="riga"  >{{rows[i][r] }}</td> 
            {%endfor%} 
       </tr> 

       {%endfor%} 

    </tbody>
  </table>
  
  {%endblock%}
